<div class="flex">
  <div class="mr-2">
    <ul>
      <li *ngFor="let user of chatService.onlineUserList" (click)="updateToUser(user)">
        <span>{{ user }}</span>
      </li>
    </ul>
  </div>
  <div>

    <div>
      Your Name: {{ chatService.username }}
      To User: {{ toUser }}
    </div>
    <form (ngSubmit)="handleSend()" [formGroup]="appService.chatGroup" *ngIf="toUser; else selectTouserTemplate">
  
      <label>
        Message
        <input type="text" formControlName="message" placeholder="Enter Message"/>
      </label>
    
      <button>Send</button>
    
    </form>

    <div>
      Chat History
      <ul>
        <li *ngFor="let history of chatService.chatHistory">
          <div>To: {{ history.to }}</div>
          <div>From: {{ history.from }}</div>
          <div>Message: {{ history.message }}</div>
          <div>--------------------------------------------</div>
        </li>
      </ul>
    </div>
  </div>


</div>

<ng-template #selectTouserTemplate>
  Select any user to send
</ng-template>